modules = ["php-8.2", "web"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 28235553
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000 -t public"
