RewriteEngine On
RewriteBase /FramePhp/public

# Se o arquivo/diretório não existe, redireciona para index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]