<section class="banner-promocional">
    <div class="container">
        <div class="banner-content">
            <h2 class="banner-title">Mega Promoção</h2>
            <p class="banner-description">Até 50% de desconto em produtos selecionados. Aproveite as melhores ofertas!</p>
            
            <div class="banner-actions">
                <a href="{{ url('loja.produtos') }}?promocao=1" class="btn btn-white btn-lg">
                    <i class="icon-tag"></i>
                    <span>Ver Ofertas</span>
                </a>
                <a href="{{ url('loja.cadastro') }}" class="btn btn-outline-white btn-lg">
                    <i class="icon-user-plus"></i>
                    <span>Cadastre-se</span>
                </a>
            </div>
            
            <div class="banner-features">
                <div class="banner-feature">
                    <i class="icon-truck"></i>
                    <span>Frete Grátis</span>
                </div>
                <div class="banner-feature">
                    <i class="icon-shield"></i>
                    <span>Compra Segura</span>
                </div>
                <div class="banner-feature">
                    <i class="icon-credit-card"></i>
                    <span>Parcelamento</span>
                </div>
            </div>
        </div>
    </div>
</section> 