{% extends "emails/layouts/base.twig" %}

{% block title %}Recuperação de Senha - {{ app_name() }}{% endblock %}

{% block content %}
    <h2>Olá {{ name }}!</h2>
    <p>Você solicitou a recuperação de senha da sua conta.</p>
    <p>Clique no botão abaixo para redefinir sua senha:</p>
    
    <a href="{{ base_url('reset-password/' ~ token) }}" class="button">Redefinir Senha</a>
    
    <p>Se você não solicitou esta recuperação, ignore este e-mail.</p>
    <p><small>Este link expirará em 1 hora.</small></p>
    <p>Atenciosamente,<br>Equipe {{ app_name() }}</p>
{% endblock %}

{% block footer %}
    <p><small>Por questões de segurança, este link expirará em 1 hora.</small></p>
{% endblock %}